
<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="row justify-content-center">
		<div class="col-sm" style="text-align: center;">
			<img src="../assets/images/workout.jpg" width="500" height="600" style="margin-bottom: 10px;" alt="">
			<h1 class="serv-tit">work ethic</h1>
			<p style="text-align: left !important; font-family: 'Open Sans', sans-serif; font-size: 17px;">Without a doubt, consistent training is the most important aspect of fitness success and forward progress. At Fast Lean Fit™, our trainers are the experts in holding you accountable. We will push and challenge you every time you show up.</p>
		</div>
    </div>
